{% extends "base.html" %}

{% block body %}
<h1>Inschrijven voor de workshops</h1>
<p>
	Geef hieronder je voorkeuren voor de workshops morgenmiddag. Als je een workshop heel graag wil doen shuif je dat ding naar rechts (5). Als je iets absoluut niet wil doen schuif je hem naar links (-5). Je kunt hem ook ergens in het midden duwen als het je minder kan schelen.
</p>
<p>
	We proberen rekening te houden met iedereens voorkeuren, maar om dat perfect te doen is helaas niet zo gemakkelijk.
</p>
<form method="post">
{% csrf_token %}
<table>
	<tr>
		<td><label for="id_naam">Naam</label></td>
		<td><input type="text" id="id_naam" name="naam" autocomplete="off" /></td>
	</tr>
	<tr>
		<td><label for="id_email">E-mail</label></td>
		<td><input type="text" id="id_email" name="email" autocomplete="off" /> <small>(dit hoef je niet per se in te vullen; we gebruiken o.a. om achteraf de foto's naar te versturen.)</small></td>
	</tr>
{% for ws in workshops %}
	<tr{% if ws.hidden %} style="display: none;"{% endif %}>
		<td><label for="id_{{ ws.id }}">{{ ws.naam }}</label></td>
		<td>
			lame!
			<input id="id_{{ ws.id }}" name="workshop_{{ ws.id }}" type="range" value="0" min="-5" max="5" />
			gaaf!
		</td>
	</tr>
{% endfor %}
	<tr>
		<td></td>
		<td><input type="submit" value="Inschrijven"></td>
	</tr>
</table>
</form>
{% endblock %}
